@using Application.Chat.Dto
@model ChatViewModel
@{
  var id = int.Parse(Context.User.Claims.FirstOrDefault(cl => cl.Type == "Id")?.Value);
  var url = Context.User.Claims.FirstOrDefault(cl => cl.Type == "PhotoUrl")?.Value;
}

<section>
  <div class="row">
    <div class="col-md-12">

      <div class="" id="chat3">
        <div class="">

          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
              @await Html.PartialAsync("_ChatList", Model.AllChats);
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
              <div id="container" class="col-md-12" style="overflow-y: auto;">
                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar-init
                     style="position: relative; height: 80vh;" id="messagesList">
                  @{
                    foreach (var message in Model.Chat.Messages.OrderBy(ms => ms.CreatedDate))
                    {
                      if (message.User.IdUser == @id)
                      {
                        <div class="d-flex flex-row justify-content-end">
                          <div>
                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">@message.Text</p>
                            <p class="small me-3 mb-3 rounded-3 text-muted">@message.CreatedDate!.Value.ToString("HH:mm | dd MMMM", new System.Globalization.CultureInfo("ru-RU"))</p>
                          </div>
                          <img src="@url"
                               alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>
                      }
                      else
                      {
                        <div class="d-flex flex-row justify-content-start">
                          <img src=" @Model.Chat.Name"
                               alt="avatar 1" style="width: 45px; height: 100%;">
                          <div>
                            <p class="small p-2 ms-3 mb-1 rounded-3" style="background: #bebebf">@message.Text</p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted float-end">@message.CreatedDate!.Value.ToString("HH:mm | dd MMMM", new System.Globalization.CultureInfo("ru-RU"))</p>
                          </div>
                        </div>
                      }
                    }
                  }

                </div>
              </div>
              <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2 " id="input">
                <img src="@url"
                     alt="avatar 3" style="width: 40px; height: 100%;">
                <input type="text" data-url="@url" data-id="@Model.Chat.Id" class="form-control form-control-lg" id="exampleFormControlInput2"
                       placeholder="Type message">
                <a class="ms-1" id="sendMessageButton"><i class="fas fa-paper-plane fa-2x" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script  src="@Url.Content("~/js/add-chat-script.js")" type="module" asp-append-version="true"></script>
<script  src="@Url.Content("~/js/web-socket-conection.js")" type="module" asp-append-version="true"></script>